.list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.col-md-6 p{
    margin-top: 10px;
}
 select{
     display: block;
     padding: 10px;
     border: 1px solid #ff523b;
     border-radius: 5px;
     margin-top: 20px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}

select:focus{
    outline: none;
}
 .list input{
     width: 70px;
     height: 30px;
     padding-left: 10px;
     font-size: 20px;
     border: 1px solid #ff523b;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.list input:focus{
    outline: none;
}

.single-img {
    width: 100%;
    
}

.small-img-row{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}