.product{
    display: flex;
    justify-content: space-around;
    margin: 100px auto 50px;
}

@media (max-width:600px){
    .product{
    display: flex;
    flex-direction: row;
   
}
}
select{
    width: 50px;
    border: 1px solid  gray;
}

.col{
    font-size: 25px;
}

.product h3{
    font-size: 28px;
}
option{
    font-size: 15px;
}

section[id="navbar"] {
    display: flex;
    margin-top: 10px;
    padding: 1% 6%;
    background: #333;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
section[id="navbar"] a {
    display: flex;
    color: rgb(214, 233, 108);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
    font-size: 16px;
    font-weight: bold;
    /* line-height: 0px; */
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* section[id="navbar"] ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
section[id="navbar"] ul li:hover::after {
    width: 100%;
} */

.menu-icon{
    width: 28px;
    margin-left: 10px ;
    display: none;
   
}
.icon{
    margin-left: 10px ;
    
    margin-bottom: 12px;
}

@media (max-width:800px) {
    .nav-ul{
        position: absolute;
        top: 70px;
        left: 10px;
        border-radius: 5px;
        background: #333;
        width: 95%;
        overflow: hidden;
         line-height: 15px;

        transition: 0.5s;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
    .nav-ul li{
        display: block;
        padding: 0px 12px;

        
        margin-top:10px ;
        margin-bottom:10px ;
    }
    .nav-ul li a{
       color: white;
        font-size: 15px;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .icon {
    /* margin-left: 10px; */
    margin-bottom: 5px;
}
 
}